---
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="verify-v1" content="79pxh1jmDnJ3jbsxK706ilckBFQ7Y94Nbh+lsgXftLo=" />
	<meta name="y_key" content="8ab8240333d84e96" />
	<meta name="y_key" content="429b0135de712f9d">
	<meta name="description" content="Providing experienced bowling pinspotter repair to the Spotsylvania, VA  22553 area since 1989." />
	<meta name="keywords" content="bowling repair, bowling, repair, spotsylvania, VA, virginia, 22553, steve ames, pinspotter, amf" />
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="content">
	<div id="header">
	<h1>{{ site.title }}</h1>
	{% include navigation.html %}
	<hr>
	</div>
	<div id="main_content">
	<div id="main_text">
		<h1>Welcome!</h1>
			<p><img src="images/mrpinspotter.jpg" align="right">Welcome to the website of Precision Pinspotter Service, Inc.  We have over 33 years of experience repairing and servicing bowling equipment in hundreds of locations.  We are committed to providing you with quality pinspotter repair.  We value our customers' satisfaction so we will do everything we can to fulfill your needs.  Please click the About Us link above for more information.</p>
			<br />
            <p align="center"><iframe width="420" height="315" src="https://www.youtube.com/embed/Irb-AzXzc1M" frameborder="0" allowfullscreen></iframe></p>
			<table class="featuremaintable_top" cellpadding="0" cellspacing="0" background="images/corkboardlarge.png" width="530" height="395" align="center">
			<tbody><tr><td>
			<table class="featureinsidetable" align="center" width="450" cellpadding="0" cellspacing="5">
				<tbody>
					<tr bgcolor="red">
						<td class="featureheading" colspan="2">Featured Special</td>
					</tr>
					<tr>
						<td class="featuretitle" colspan="2">82/90XL Pinspotter Control Chassis</td>
					</tr>
					<tr>
						<td class="featurecontent"><span style="font: 10pt Arial, Helvetica, sans-serif;">090 005 700 (115 Volt) <br /> 620 905 700 (115 Volt) - Repair/Exchange <br /> 620 905 705 (220 Volt) - Repair/Exchange <br /> 620 905 769 (220 Volt) - Repair/Exchange <br /></span><p class="featurespacing"></p><span style="font: 8pt Arial, Helvetica, sans-serif;">Chassis type most common on 82/90XL. <p class="featurespacing"></p> Four round C-23 type plugs connect machine signals and power on chassis. <p class="featurespacing"></p> Replaceable items inside this chassis include: <ul class="featurelist"><li>Breaker 743 513 028</li><li>Spot/Lamp relay 755 520 074</li><li>S & T Motor Relay 755 520 062</li><li>Face Keypad Overlay 090 006 810</li><li>Motor Capacitor 090 003 748 for 110V or 743 000 307 for 220V</li><li>Logic Power Fuse 090 002 776</li><li>Power Supply Fuse 294 002 252</li></ul>Be sure there is no existing warranty on a chassis before breaking its seal.</span></td>
						<td><img src="images/pinspotterchassisspecial.png"></td>
					</tr>
				</tbody>
			</table>
			</tr></td></tbody></table>
			<table class="featuremaintable_bottom" cellpadding="0" cellspacing="0" background="images/corkboard.png" width="530" height="345" align="center">
			<tbody><tr><td>
			<table class="featureinsidetable" align="center" width="450" cellpadding="0" cellspacing="5">
				<tbody>
					<tr bgcolor="red">
						<td class="featureheading" colspan="2">Featured Special</td>
					</tr>
					<tr>
						<td class="featuretitle" colspan="2">82/90XL Pinspotter Control Chassis</td>
					</tr>
					<tr>
						<td class="featurecontent"><span style="font: 10pt Arial, Helvetica, sans-serif;">090 008 965 (220 Volt) <br /> 620 908 965 (220 Volt)  - Exchange/Repair </br /></span><p class="featurespacing"></p><span style="font: 8pt Arial, Helvetica, sans-serif;">Universal voltage and cycle "black chassis" for use with later model XL pinspotters. <p class="featurespacing"></p> All machine connections on this chassis are made with rectangular, white plugs. <p class="featurespacing"></p> Replaceable items inside this chassis include: <ul class="featurelist"><li>Breaker 090 008 939</li><li>Spot/Lamp Fuse 090 002 775</li><li>S & T Motor Relay 755 520 062</li><li>Motor Capacitor 743 000 307</li><li>Logic Power Fuse 090 002 776</li><li>Power Supply Fuse 294 002 252</li></ul>Be sure there is no existing warranty on a chassis before breaking its seal.</span></td>
						<td><img src="images/pinspotterchassisspecialblack.png"></td>
					</tr>
				</tbody>
			</table>
			</tr></td></tbody></table>	
			<br /><br />
			<p align="center"><iframe width="255" height="207" src="https://www.youtube.com/embed/VWobAz903xA" frameborder="0" allowfullscreen></iframe>&nbsp;<iframe width="255" height="207" src="https://www.youtube.com/embed/InDxZbCFFGs" frameborder="0" allowfullscreen></iframe></p>
			<p style="padding-top: 25px;" align="center"><img src="images/collage.jpg"></p>
			<br />
	</div>
	</div>
	{% include footer.html %}
</div>
</body>
</html>