---
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="ROBOTS" content="NOINDEX" />
	<meta name="description" content="Providing experienced bowling pinspotter repair to the Spotsylvania, VA  22553 area since 1989." />
	<meta name="keywords" content="bowling repair, bowling, repair, spotsylvania, VA, virginia, 22553, steve ames, pinspotter, amf" />
	<title>{{ site.title }} | [Page Title]</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="content">
	<div id="header">
	<h1>{{ site.title }}</h1>
	<ul id="nav">
		{% for page in site.nav %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	<hr>
	</div>
	<div id="main_content">
	<div id="main_text">
		<h1>[Page Title]</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed porttitor lacus sit amet neque. Nunc at lacus. Sed posuere. Cras ut tortor luctus libero commodo ultrices. Integer laoreet. Aenean iaculis elit et felis. Nullam ultricies vestibulum arcu. Nulla convallis, orci vitae porttitor bibendum, libero mi semper eros, non commodo metus sapien sed orci. Praesent condimentum. Praesent mattis nisi in orci. Nulla feugiat mollis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec metus neque, blandit sed, vestibulum a, pulvinar sit amet, eros. Suspendisse malesuada risus. Phasellus ullamcorper interdum pede.</p>
	</div>
	</div>
	{% include footer.html %}
</div>
</body>
</html>