---
---
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="description" content="Providing experienced bowling pinspotter repair to the Spotsylvania, VA  22553 area since 1989." />
	<meta name="keywords" content="bowling repair, bowling, repair, spotsylvania, VA, virginia, 22553, steve ames, pinspotter, amf" />
	<title>{{ site.title }} | Videos</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="content">
	<div id="header">
	<h1>{{ site.title }}</h1>
	<ul id="nav">
		{% for page in site.nav %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	<hr>
	</div>
	<div id="main_content">
	<div id="main_text">
		<h1>Videos</h1>
			<br />
			<p align="center">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/jv1pI1mmErI" frameborder="0" allowfullscreen></iframe>
			<br /><br />
			<iframe width="420" height="315" src="https://www.youtube.com/embed/ioM3MEJ2Geg" frameborder="0" allowfullscreen></iframe>
			<br /><br />
			<iframe width="420" height="315" src="https://www.youtube.com/embed/Ei8JeKC7bYk" frameborder="0" allowfullscreen></iframe>
			<br /><br />
			<iframe width="420" height="315" src="https://www.youtube.com/embed/vEqhu0Qt3DA" frameborder="0" allowfullscreen></iframe>
			<br /><br />
			<iframe width="420" height="315" src="https://www.youtube.com/embed/0zIs9c_nHyo" frameborder="0" allowfullscreen></iframe>
			</p>
			<br />
	</div>
	</div>
	{% include footer.html %}
</div>
</body>
</html>