<div id="footer">
<div class="footer">
<table border="0" width="600px" class="footer">
    <tr style="font-weight: bold;">
        <td>Address</td>
        <td>Phone</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>{{ site.address }}</td>
        <td>{{ site.phone }}</td>
        <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
    </tr>
    <tr>
        <td align="center" colspan="3"><img src="images/paymentcards.png" style="vertical-align: middle;"></td>
    </tr>
</table>
</div>
</div>